//colors
$light-background: #F5F6FA;
$white-background: #FFFFFF;
$dark-background: #322673;

$action-color: #4D0DB9;
$text-color: #322673;
$white-text-color: #FFFFFF;

$light-grey: #EBEBEB;
$dark-grey: #AAAAAA;
$red: #FC5F45;
$green: #50D197;

